config.yaml
*.pyc
env/
.vagrant/
.idea
.vscode/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
venv/

.env*
!.env.example

.vscode/

celerybeat-schedule

node_modules/

.DS_Store