[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
amqp = "*"
appdirs = "*"
billiard = "*"
celery = "*"
certifi = "*"
chardet = "*"
click = "*"
gunicorn = "*"
humanize = "*"
idna = "*"
itsdangerous = "*"
kombu = "*"
numpy = "*"
psycopg2 = "==2.7.6.1"
pyparsing = "*"
pytz = "*"
redis = "*"
requests = "*"
scipy = "*"
six = "*"
urllib3 = "*"
vine = "*"
webassets = "*"
xlrd = "*"
Flask = "*"
Flask-Assets = "*"
Flask-SQLAlchemy = "*"
Jinja2 = "*"
Markdown = "*"
MarkupSafe = "*"
pyScss = "*"
PyYAML = "*"
SQLAlchemy = "*"
Werkzeug = "*"
python-dotenv = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-compress = "*"
flask-minify = "*"
jsmin = "*"
cssmin = "*"
flask-socketio = "*"
eventlet = "*"

[requires]
python_version = "3.6"
