{% block content %}
  <div class="modal-wrapper" id="edit-judge">
    <div class="full-modal">
      <div class="admin-modal-content edit-modal">
        <div class="admin-close-button" onclick="openModal('close')"></div>
        <div>
          <iframe onload="autoResizeJudge('annotatorframe')" width="100%" height="400px" scrolling="no" id="annotatorframe" sandbox="allow-top-navigation allow-scripts allow-forms allow-same-origin"></iframe>
        </div>
      </div>
    </div>
  </div>
  <script>
    async function openJudge(id) {
      console.log(id)
      const editJudge = document.getElementById('annotatorframe');
      editJudge.src = `/admin/annotator/${id}/`;
      openModal('edit-judge');
    }

    async function autoResizeJudge(id){
      let newheight;
      let newwidth;

      if(document.getElementById){
        newheight = await document.getElementById(id).contentWindow.document.getElementById("content").scrollHeight;
        newwidth = await document.getElementById(id).contentWindow.document.getElementById("content").scrollWidth;
      }

      document.getElementById(id).height= `${(newheight % 2 === 0 ) ? newheight : newheight+1}px`;
      document.getElementById(id).width= `${((newwidth < 400) ? 416 : newwidth % 2 === 0 ? newwidth : newwidth+1)}px` ;
    }
  </script>
{% endblock %}
