<tbody id="itemTable">
{% for item in items %}
  <tr class="{{ 'disabled' if not item.active else 'prioritized' if item.prioritized else '' }}">
    <td><a href="{{ url_for('item_detail', item_id=item.id) }}" class="colored">{{ item.id }}</a></td>
    <td>{{ item.name | safe }}</td>
    <td>{{ item.location | safe }}</td>
    <td class="preserve-formatting">{{ item.description | safe }}</td>
    <td>{{ item.mu | round(4) }}</td>
    <td>{{ item.sigma_sq | round(4) }}</td>
    <td>{{ item_counts.get(item.id, 0) }}</td>
    <td>{{ item.viewed | length }}</td>
    <td>{{ skipped.get(item.id, 0) }}</td>
    <td class="compact" data-sort="{{ item.prioritized }}">
      <form action="/admin/item" method="post">
        <input type="submit" name="action" value="{{ 'Prioritize' if not item.prioritized else 'Cancel' }}"
               class="{{ 'positive' if not item.prioritized else 'negative' }}">
        <input type="hidden" name="item_id" value="{{ item.id }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      </form>
    </td>
    <td class="compact" data-sort="{{ item.active }}">
      <form action="/admin/item" method="post">
        <input type="submit" name="action" value="{{ 'Disable' if item.active else 'Enable' }}"
               class="{{ 'negative' if item.active else 'positive' }}">
        <input type="hidden" name="item_id" value="{{ item.id }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      </form>
    </td>
    <td class="compact">
      <form action="/admin/item" method="post">
        <input type="submit" name="action" value="Delete" class="negative">
        <input type="hidden" name="item_id" value="{{ item.id }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      </form>
    </td>
  </tr>
{% endfor %}
</tbody>
