{% extends "admin_layout.html" %}
{% block title %}Admin{% endblock %}
{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js" integrity="sha256-Dul4c09cdrWKXVtallPxF558lwxMwCC8dXJdZ0PVW54=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/21.2.2/ag-grid-community.noStyle.js" integrity="sha256-qcdR2/GdAtCsM12+Xx0YtI0qG1WyG4ehmhFfPyfOpiU=" crossorigin="anonymous"></script>
<style>
html, body, #content {
  height: 100%;
}
</style>
{% assets 'admin_js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
{% block content %}
<div style="height: 100%">
  <script>
    setToken("{{ csrf_token() }}");
    setIsVirtual("{{ virtual }}" === "True");
    setDebugState("{{ debug_state }}" === "True");
  </script>
<div class="admin-container">
  <div class="banner-branded">Gavel Admin Dashboard<span style="cursor: pointer;" onclick="toggleAutoRefresh(!livereload)" class="live-active" id="live"> Live</span>
    <div class="admin-toggle float-right">
      <button
        id="sessionButton"
        class="text-18 w-16.2 h-4 text-white rounded"
        onclick="">
      </button>
      <div id="judgeSettingFormHolder">
      </div>
    </div>
  </div>
  <div class="admin-data-bar">
    <div class="admin-data">
      <span>TOTAL VOTES</span>
      <div class="admin-data-text" id="total-votes">{{ votes }}</div>
    </div>
    <div class="admin-data">
      <span>TOTAL PROJECTS</span>
      <div class="admin-data-text" id="total-active">{{ item_count }}</div>
    </div>
    <div class="admin-data">
      <span>AVG. SIGMA SQUARED</span>
      <div class="admin-data-text" id="average-sigma"></div>
    </div>
    <div class="admin-data">
      <span>AVG. SEEN</span>
      <div class="admin-data-text" id="average-seen"></div>
    </div>
  </div>
  <div class="overflow-visible mb-.8 flex justify-between flex-wrap">
    <div class="flex flex-row flex-no-wrap">
      <div class="flex relative flex-col flex-wrap w-18.8 z-10" onclick="toggleSelector(true)" id="switcher">
        <div class="bg-white w-full absolute flex flex-col top-0 text-18 rounded admin-switcher font-medium z-500 hidden" id="selector">
          <div class="w-full h-4 hover:bg-lightgray" onclick="showTab('flags')">
            <h3 class="admin-switcher-modal-text leading-4">Manage Flags</h3>
          </div>
          <div class="w-full h-4 hover:bg-lightgray" onclick="showTab('items')">
            <h3 class="admin-switcher-modal-text leading-4">Manage Projects</h3>
          </div>
          <div class="w-full h-4 hover:bg-lightgray" onclick="showTab('annotators')">
            <h3 class="admin-switcher-modal-text leading-4">Manage Judges</h3>
          </div>
        </div>
        <div class="w-full h-4 flex items-center justify-between rounded bg-indigo text-white text-18">
          <p class="ml-1.2" id="adminSwitcherContent">Manage Flags</p>
          <i class="admin-drop-single-chevron"></i>
        </div>
      </div>
      <div class="flex text-center items-center pl-2.4 pointer inline-flex text-indigo font-medium" id="add">
        <span class="text-18 leading-none pr-.8">+</span><span class="text-indigo text-14 uppercase" id="add-text"></span>
      </div>

    </div>
    <div class="flex items-center flex-row leading-4" id="batchPanel">
      <div class="text-14 cursor-pointer font-medium mr-2.4"><a onclick="openModal('disable-entries')"><span class="disabledeye"></span>BATCH DISABLE</a></div>
      <div class="text-14 cursor-pointer text-red font-medium"><a onclick="openModal('delete-entries')"><span class="trashcan"></span>BATCH DELETE</a></div>
    </div>
  </div>
  <div class="admin-tabs live-table z-0">
    <div id="admin-table-wrapper" class="admin-table live-table" style="height: 100%">
      <div id="annotator-table" style="height: 100%;width:100%;display:none" class="ag-theme-balham"></div>
      <div id="item-table" style="height: 100%;width:100%;display: none" class="ag-theme-balham"></div>
      <div id="flag-table" style="height: 100%;width:100%;display: none" class="ag-theme-balham"></div>
    </div>
  </div>

  {% include './admin_components/add_projects_modal.html' %}

  {% include './admin_components/add_judges_modal.html' %}

  {% include './admin_components/stop_session_modal.html' %}

  {% include './admin_components/edit_judge_modal.html' %}

  {% include './admin_components/edit_project_modal.html' %}
  
  {% include './admin_components/delete_entries_modal.html' %}

  {% include './admin_components/disable_entries_modal.html' %}

</div>
{% endblock %}
{% block end %}
<link async rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/21.2.2/styles/ag-grid.css" integrity="sha256-H0ca4WfnE9lTQHMMYeE496cyBHytqYGWGSZrs9ooYvs=" crossorigin="anonymous" />
<link async rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/21.2.2/styles/ag-theme-balham.css" integrity="sha256-iaqOsROIW6yuu8eiBD6JHAo4rdCtkPDgF8WbCfIekqA=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/js/all.min.js" integrity="sha256-iZGp5HAiwRmkbOKVYv5FUER4iXp5QbiEudkZOdwLrjw=" crossorigin="anonymous" async></script>
<style>
  tr {
    border: 0;
    border-bottom: 1px solid #B7B7B7;
    height: 48px;
    max-height: 48px;
  }

  td {
    border: 0;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
  }

  tbody {
    background: white;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
  }
</style>
<script>
  const refreshTimeout = 6000;

  let initialTableResponse;
  let initialRefreshResponse;

  let responseInterval = async function () {
    await Promise.all([
      refresh()
    ]);
  };

  let intervalid = window.setInterval(responseInterval, refreshTimeout);
  let livereload = true;
  let currentTab = "flags";

  function toggleAutoRefresh(state) {
    livereload = state;
    !livereload ? window.clearInterval(intervalid) : intervalid = window.setInterval(responseInterval, refreshTimeout);
    let rel = document.getElementById("live");
    rel.classList = livereload ? ['live-active'] : ['live-inactive'];
  }

  function triggerTableUpdate() {
    toggleAutoRefresh(false);
    initialTableResponse = spawnTable(localStorage.getItem("currentTab"));
    initialRefreshResponse = refresh();
    toggleAutoRefresh(true);
    return false;
  }

  $('.admin-check').click(function (e) {
    localStorage.e.target.id = !!e.target.checked;
    return false;
  })

</script>

{% endblock %}