{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
  <div class="admin-container">
    <div class="banner-branded">Gavel Admin Dashboard<span style="cursor: pointer;" onclick="toggleAutoRefresh(!livereload)" class="live-active" id="live"> Live</span>
      <div class="admin-toggle float-right">
        <button class="normal-white-18 noborder {{ 'admin-judging-active' if setting_closed or setting_stop_queue else 'admin-judging-inactive' }}"
                onclick="{{ "document.getElementById('admin-judge-setting-form').submit()" if setting_closed or setting_stop_queue else ("openModal('stop-session')")}}">
          {{ ('Stop Soft Close' if setting_stop_queue else 'Stop Session') if not setting_closed else 'Start Session' }}
        </button>
        {% if setting_closed %}
          <form id="admin-judge-setting-form" action="/admin/setting" method="post">
            <input type="hidden" name="action" value="{{ 'Open' if setting_closed else 'Close' }}">
            <input type="hidden" name="key" value="closed">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
          </form>
        {% elif setting_stop_queue %}
          <form id="admin-judge-setting-form" action="/admin/queueshutdown" method="post">
            <input type="hidden" name="action" value="dequeue">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
          </form>
        {% endif %}
        </div>
    </div>
    <div class="admin-data-bar">
      <div class="admin-data">
        <span>TOTAL VOTES</span>
        <div class="admin-data-text" id="total-votes">{{ votes }}</div>
      </div>
      <div class="admin-data">
        <span>TOTAL PROJECTS</span>
        <div class="admin-data-text" id="total-active">{{ item_count }}</div>
      </div>
      <div class="admin-data">
        <span>AVG. SIGMA SQUARED</span>
        <div class="admin-data-text" id="average-sigma"></div>
      </div>
      <div class="admin-data">
        <span>AVG. SEEN</span>
        <div class="admin-data-text" id="average-seen"></div>
      </div>
    </div>
    <div class="admin-options row">
      <div class="admin-switcher" id="switcher" onclick="toggleSelector()">
        <span id="admin-switcher-content">Manage Reports</span>
        <a class="admin-drop-single-chevron center"></a>
        <div class="admin-switcher-modal modal-autoclose" id="selector">
          <div class="full" onclick="showTab('flags')"><h3 class="admin-switcher-modal-text">Manage Reports</h3>
          </div>
          <div class="full" onclick="showTab('items')"><h3 class="admin-switcher-modal-text">Manage Projects</h3>
          </div>
          <div class="full" onclick="showTab('annotators')"><h3 class="admin-switcher-modal-text">Manage Judges</h3></div>
        </div>
      </div>
        <div class="admin-add-button" id="add">
          <span class="normal-caps-purple-14" id="add-text"></span>
        </div>
      <div class="admin-batch-button float-right" id="batchPanel">
        <div class="normal-caps-14 inline pointer" id="" style="margin-right: 24px;" onclick="openModal('disable-entries')"><span class="disabledeye"></span><span>BATCH DISABLE</span></div>
        <div class="normal-caps-red-14 inline pointer" id="" onclick="openModal('delete-entries')"><span class="trashcan"></span>BATCH DELETE</div>
      </div>
    </div>
    <div class="admin-tabs live-table">
      <div id="admin-table-wrapper" class="admin-table live-table">
        <table id="admin-table">
          <thead class="admin-header" id="admin-table-head">
          {# Auto populates with header #}
          </thead>
          <tbody id="admin-table-body">
          {# Auto populates with body #}
          </tbody>
        </table>
      </div>
    </div>

    {% include './admin_components/add_projects_modal.html' %}

    {% include './admin_components/add_judges_modal.html' %}

    {% include './admin_components/delete_entries_modal.html' %}

    {% include './admin_components/disable_entries_modal.html' %}

    {% include './admin_components/stop_session_modal.html' %}

    {% include './admin_components/edit_judge_modal.html' %}

    {% include './admin_components/edit_project_modal.html' %}

  </div>
{% endblock %}
{% block end %}
{#  JQuery must be brought in separately. flask-assets doesn't pre-process correctly and doesn't initialize it before the remaining scripts. #}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>
{#  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js" integrity="sha256-uC1JMW5e1U5D28+mXFxzTz4SSMCywqhxQIodqLECnfU=" crossorigin="anonymous" async></script>#}
{#  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.widgets.min.js" integrity="sha256-Xx4HRK+CKijuO3GX6Wx7XOV2IVmv904m0HKsjgzvZiY=" crossorigin="anonymous" async></script>#}
{#  <script src="{{ url_for('static', filename="js/jquery-3.3.1.min.js") }}"></script>#}
{#  <script src="{{ url_for('static', filename="js/jquery.tablesorter.min.js") }}"></script>#}
{#  <script src="{{ url_for('static', filename="js/jquery.tablesorter.widgets.js") }}"></script>#}
{#  <script src="{{ url_for('static', filename="js/admin/admin_live.js") }}"></script>#}
  {% assets 'admin_js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script>
    setToken("{{ csrf_token() }}");
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/js/all.min.js" integrity="sha256-iZGp5HAiwRmkbOKVYv5FUER4iXp5QbiEudkZOdwLrjw=" crossorigin="anonymous" async></script>
{#  <script src="{{ url_for('static', filename="js/baloon.css") }}"></script>#}
  <script>

    const refreshTimeout = 6000;

    let initialTableResponse;
    let initialRefreshResponse;
    {#    let checkbox = document.getElementById('fs');
        let c = "{{ setting_closed }}";
        c === "True" ? checkbox.checked = false : checkbox.checked = true;#}
    let responseInterval = async function () {
      await Promise.all([
        spawnTable(localStorage.getItem("currentTab")),
        refresh()
      ]);
    };

    let intervalid = window.setInterval(responseInterval, refreshTimeout);
    let livereload = true;
    let currentTab = "flags";

    function toggleAutoRefresh(state) {
      livereload = state;
      !livereload ? window.clearInterval(intervalid) : intervalid = window.setInterval(responseInterval, refreshTimeout);
      let rel = document.getElementById("live");
      rel.classList = livereload ? ['live-active'] : ['live-inactive'];
    }

    function triggerTableUpdate() {
      toggleAutoRefresh(false);
      initialTableResponse = spawnTable(localStorage.getItem("currentTab"));
      initialRefreshResponse = refresh();
      toggleAutoRefresh(true);
    }

    $('.admin-check').click(function(e){
      localStorage.e.target.id = !!e.target.checked;
    })

  </script>
  <script>
    window.addEventListener("DOMContentLoaded", async function () {
      showTab(localStorage.getItem("currentTab") || "flags");
      initTableSorter();
    });
  </script>

{% endblock %}
